<% include partials/header %>

<h1 class="text-center">Whoops</h1>
<div class="row justify-content-center my-5">
	<img class="col-8 error" src="https://blog.hubspot.com/hs-fs/hubfs/404-error-page-examples.jpeg?t=1498828012339&width=669&height=277&name=404-error-page-examples.jpeg">
</div>
<h3 class="text-center">Or something else...I'm not really sure</h3>

<div class="row justify-content-center mt-5">
	<a class="btn btn-secondary" href="/movie"" role="button">Back</a>
</div>

<% include partials/footer %>