<% include partials/header %>

<h1 class="text-center">Search for Movies by Keywords or Title</h1>

<form class="my-5 text-center form-group row justify-content-center" action="/results" method="GET">
	<input class="form-control col-4" type="text" name="search" placeholder="Enter Keyword Here">
	<button type="button" class="btn">Search for Movies</button>
</form>

<% include partials/footer %>