<% include partials/header %>

<h1 class="text-center">Here are Your Results</h1>
<a href="/" class="">
	<button type="button" class="btn">Back</button>
</a>

<ul>
	<% movies.Search.forEach( movie => { %>
		<li>
			<p><strong>Movie Title:</strong> <%= movie.Title %></p>
			<p><strong>Year Released:</strong> <%= movie.Year %></p>
			<img src="<%= movie.Poster %>">
		</li>
	<% }) %>
</ul>
<br>
<a href="/">
	<button type="button" class="btn">Back</button>
</a>

<% include partials/footer %>


	
