h1 {
	margin-top: 30px;
}
li {
	list-style: none;
	text-align: center;
	margin-top: 30px;
}

li:hover,
li:focus {
	opacity: .8;
}

li,
li img {
	max-width: 90%;
	border-radius: 5px;
}

li img {
	margin-top: 10px;
	margin-bottom: 15px;
}

li p {
	margin-bottom: 0px;
	color: black;
}

a:focus,
a:hover {
	text-decoration: none;
}

li p strong {
	text-decoration: underline;
}

.error {
	border-radius: 5%;
	opacity: .8;
}
